*{
    padding: 0;
    margin: 0;
}

.container{
    width: 40rem;
    border: 1px solid black;

    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    font-size: 2rem;
    font-weight: 600;
    font-family: sans-serif;
}

h3{
    font-size: 1.25rem;
    font-weight: 400;
    font-family: sans-serif;
}

#top{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    width: 100%; height: 6rem;
}

#bottom{
    width: 40rem; height: 24rem;
}

#insertion{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40rem; height: 20rem;
    gap: 1rem;
    overflow-y: scroll;
}

#insertion::-webkit-scrollbar {
    display: none;
}

.insertion{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;

    padding: 1rem;
    width: 30rem;
    font-family: sans-serif;
    font-weight: 500;
}

.wrong-hint-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 2rem; height: 2rem;
    border-radius: 0.25rem;
}

.lower-hint-triangle{
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-top: 1rem solid white;
}

.higher-hint-triangle{
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 1rem solid white;
}


.anwser{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem; height: 4rem;
}

#guess{
    width: 32rem; height: 2rem;
    text-align: center;
    font-family: sans-serif;
}